# exclude everything except directory

.DS_Store
.amazonq
.git
.vscode
.marscode
.lingma
.phpunit.cache
GEMINI.md
composer.lock
vendor
source/*
!source/data/
local-dev
scripts
coverage
nodemon.json
node_modules
package.json
package-lock.json