# exclude everything except directory

.DS_Store
.amazonq
.cursor
.git
.vscode
.marscode
.trae
.lingma
.grok
.phpunit.cache
GEMINI.md
composer.lock
vendor
source/wp
dev.php
scripts
dev.js
coverage
data
nodemon.json
node_modules
package.json
package-lock.json